product/priv-app/PrebuiltGmsCoreForClockworkWearable/PrebuiltGmsCoreForClockworkWearable.apk
bootRE/boot.elf
vendor/firmware/mcufirmware/OPWWE231/system_img
vendor/firmware/mcufirmware/OWWE231/system_img
vendor/firmware/mcufirmware/OPWWE234/system_img
